#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}

#h1 {
  margin-top: 2rem;
  margin-left: 9rem;
  margin-right: 8rem;
  margin-bottom: 1rem;
  display: flex;
  align-content: center;
  justify-content: center;
  font-family: "Vibur", sans-serif;
  font-weight: 400;
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #f09,
    0 0 82px #f09, 0 0 92px #f09, 0 0 102px #f09, 0 0 151px #f09;
  font-size: 6rem;
  animation: pulsate 0.11s ease-in-out infinite alternate;
}

@keyframes pulsate {
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #f09,
      0 0 80px #f09, 0 0 90px #f09, 0 0 100px #f09, 0 0 150px #f09;
  }
  0% {
    text-shadow: 0 0 4px #fff, 0 0 10px #fff, 0 0 18px #fff, 0 0 38px #f09,
      0 0 73px #f09, 0 0 80px #f09, 0 0 94px #f09, 0 0 140px #f09;
  }
}

#names {
  font-family: 'League Spartan', sans-serif;
  font-size: 1.65rem;
  display: flex;
  align-content: center;
  justify-content: center;
  color: #fff;
}

#about {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 50%;
  margin: 0 auto;
  padding: 2rem 2rem 4rem 2rem;
  flex-direction: column;
}

#mason {
  color:#D793BB;
  padding-left: 6px;
  padding-right: 6px;
}

#devin {
  color: #8495ca;
  padding-left: 6px;
}

#p {
  font-family: 'League Spartan', sans-serif;
  font-size: 1.25rem;
  line-height: 25px;
  display: flex;
  align-content: center;
  justify-content: center;
  color: #fff;
}
