#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}

#row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem;
  gap: 20px;
}

#column {
  display: flex;
  width: 20%;
  flex-direction: column;
}

.btn {
  padding: 12px 24px;
  border-radius: 0.75rem;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "League Spartan", sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: white;
  text-align: center;
  background-color: #d793bb;
  cursor: pointer;
  transition: all 0.2s;
}

.btn:hover {
  color: #8f88e6;
  background-color: white;
}

#p {
  display: flex;
  flex-direction: column;
  font-family: "League Spartan", sans-serif;
  justify-content: center;
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 18px;
  line-height: 1.5;
  color: #c1b4cf;
}

#welcome {
  color: #fff;
}

#form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
}

#label {
  font-size: 16px;
  margin-bottom: 4px;
}

#ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

#h3 {
  font-size: 1.5rem;
  margin: 0;
  margin-bottom: 10px;
}
