#body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    margin-top: 10rem;
    color: #ecefe2;
}

#description {
    display: flex;
    flex-direction: column;
    max-width: 30%;
    height: 44vh;
    padding: 1rem;
}

.img {
    max-width: 50%;
    border: 2px solid #d793bb;
    border-radius: 10px;
}

#drinkTitle {
    text-align: center;
    color:white;
    font-size: 2.5rem;
}

#drinkDescription {
    color: white;
    padding-left: 2rem;
    padding-right: 2rem;
}
