#container {
    color: #fff;
    font-family: 'League Spartan', sans-serif;
    text-align: center;
    border: 2px solid #8495ca;
    border-radius: 20px;
    max-width: 33%;
    padding: 1rem 1.5rem 2rem 1.5rem;
    box-shadow: 0 0 32px 8px #D793BB;
    margin: 10vh auto;
}

@media (max-width: 810px) {
    #container {
        margin: 10vh auto;
        padding: 1rem 1.5rem 2rem 1.5rem;
        max-width: 60%;
    }
  }

@media (max-width: 1024px) {
    #container {
        margin: 5vh auto;
        padding: .5rem 1rem 1rem 1rem;
        max-width: 80%;
    }
}
