#container {
    color: #fff;
    font-family: 'League Spartan', sans-serif;
    text-align: center;
    border: 2px solid #8495ca;
    border-radius: 20px;
    max-width: 33%;
    padding: 1rem 1.5rem 2rem 1.5rem;
    margin: 10vh auto;
    animation: jump .4s ease-in-out;
    box-shadow: 0 0 16px 8px #D793BB;
}

@keyframes jump {
    0% {
    }
    50% {
      box-shadow: 0 0px 32px 8px #D793BB;
    }
    100% {
    }
  }

@media (max-width: 810px) {
    #container {
        margin: 10vh auto;
        padding: 1rem 1.5rem 2rem 1.5rem;
        max-width: 60%;
    }
}

@media (max-width: 1024px) {
    #container {
        margin: 5vh auto;
        padding: .5rem 1rem 1rem 1rem;
        max-width: 80%;
    }
}
