.loginIntro {
  margin: 5% 12px 12px 12px;
  display: flex;
  align-content: center;
  justify-content: center;
  font-family: "Vibur", sans-serif;
  font-weight: 400;
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #f09,
    0 0 82px #f09, 0 0 92px #f09, 0 0 102px #f09, 0 0 151px #f09;
  font-size: 3rem;
  animation: pulsate 0.11s ease-in-out infinite alternate;
}

@media (max-width: 660px) {
  .signupIntro {
    font-size: 2rem;
  }
}

.loginForm {
  display: flex;
  align-content: center;
  justify-content: center;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 80px;
  padding: 40px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #ecefe2;
  background-color: #000000;
  border: 2px solid #8495ca;
}

#imageContainer {
  padding-top: 0.2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-bottom: 25px;
}

.formGroup {
  margin-bottom: 20px;
}

.label {
  padding-right: 1rem;
  font-size: 1.25rem;
  font-family: "League Spartan", sans-serif;
  color: #e0d2e9;
}

.input[type="text"],
.input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-top: 12px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 16px;
}

.btn[type="submit"] {
  display: block;
  width: 100%;
  padding: 15px;
  margin-top: 50px;
  border-radius: 5px;
  border: none;
  background-color: #d793bb;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn[type="submit"]:hover {
  color: #8f88e6;
  background-color: white;
}

.btnSignup[type="submit"]:hover {
  color: #8f88e6;
  background-color: rgba(0, 0, 0, 0.1);
}

.btnSignup {
  padding: 10px;
  margin: 10px;
  margin-top: 50px;
}
