.cardContainer {
  box-shadow: 0 4px 8px 0 rgba(50, 50, 50, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  width: 300px;
  height: 400px;
  margin: 20px;
  display: inline-block;
  background-color: rgb(20, 14, 29);
}

.cardContainer:hover {
  box-shadow: 0 8px 16px 0 rgba(202, 199, 199, 0.2);
  transform: translateY(-4px);
}

.cardImage {
  border-radius: 10px 10px 0 0;
  border: 3px solid rgba(113, 13, 13, 0.587);
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.cardContainer .container {
  padding: 12px;
}

.cocktailName {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #bdbdbd;
}

.recipeInstructions {
  font-size: 16px;
  margin-top: 10px;
}
