.cardContainer {
  font-family: 'League Spartan', sans-serif;
  box-shadow: 0 4px 8px 0 rgba(50, 50, 50, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  width: 305px;
  height: 400px;
  margin: 20px;
  display: inline-block;
  color: #ecefe2;
  background-color: #1c1123;
  border: 2px solid #D64A45;
}

.cardContainer:hover {
  box-shadow: 0 8px 16px 0 #D793BB;
  transform: translateY(-4px);
}

.cardImage {
  border-radius: 10px 10px 0 0;
  border: 2px solid #D64A45;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.cardContainer .container {
  padding: 12px;
}

.cocktailName {
  font-size: 18px;
  font-weight: bold;
  margin-top: 12px;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #ecefe2;
}

.recipeInstructions {
  display: flex;
  line-height: 20px;
  padding: 10px;
  font-size: 16px;
  margin-top: 10px;
}

#instructionsBox {
  flex-wrap: nowrap;
  overflow-x: auto;
  height: 140px;
}

#instructionsBox::-webkit-scrollbar {
  width: 8px;
}

#instructionsBox::-webkit-scrollbar-track {
  margin-top: 10px;
  background-color: #1C1123;
  border-radius: 10px;
}

#instructionsBox::-webkit-scrollbar-thumb {
  background-color: #7E91C9;
  border-radius: 10px;
}
