#form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
  }

.btn {
    padding: 12px 24px;
    border-radius: .75rem;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'League Spartan', sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: white;
    text-align: center;
    background-color: #d793bb;
    cursor: pointer;
    transition: all 0.2s;
}
  
.btn:hover {
    color: #8f88e6;
    background-color: white;
}
  
#dice {
    width: 16px;
    margin-right: 5px;
}

#input,
#select {
    font-size: 16px;
    padding: 8px 12px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
