.signupIntro {
  margin: 12px;
  display: flex;
  align-content: center;
  justify-content: center;
  font-family: "Vibur", sans-serif;
  font-weight: 400;
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #f09,
    0 0 82px #f09, 0 0 92px #f09, 0 0 102px #f09, 0 0 151px #f09;
  font-size: 35px;
  animation: pulsate 0.11s ease-in-out infinite alternate;
}

.signupForm {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 40px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #ecefe2;
  background-color: #6e4587;
}

.signupForm h2 {
  margin-bottom: 20px;
}

.formGroup {
  margin-bottom: 20px;
}

#label {
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #9e8da9;
}

.input[type="text"],
.input[type="password"],
.input[type="email"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 16px;
}

.btn[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #0070f3;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn[type="submit"]:hover {
  background-color: #4180ce;
  animation: jump 1s ease-in-out;
}

@keyframes jump {
  0% {
  }
  50% {
    box-shadow: 0 8px 16px 0 #d793bb;
  }
  100% {
  }
}
